<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <script>
        window.onload = (event) => {
            const queryString = window.location.search;
            console.log('query', queryString);
            const urlParams = new URLSearchParams(queryString);
            const cust = urlParams.get('cust');
            console.log('customer', cust);
            const key = urlParams.get('key');
            console.log('key', key)

            const url = 'https://api.stripe.com/v1/billing_portal/sessions';
            const body = {
                'customer': `${cust}`
            }
            var formBody = [];
            for (var property in body) {
                var encodedKey = encodeURIComponent(property);
                var encodedValue = encodeURIComponent(body[property]);
                formBody.push(encodedKey + "=" + encodedValue);
            }
            formBody = formBody.join("&");
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'Authorization': `Bearer ${key}`
                },
                body: formBody
            }).then(r => window.location.href = r.url);
        };
    </script>
</body>

</html>
