<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <script>
        window.onload = (event) => {
            const queryString = window.location.search;
            console.log('query', queryString);
            const urlParams = new URLSearchParams(queryString);
            const cust = urlParams.get('cust');
            console.log('customer', cust);
            const key = urlParams.get('key');
            console.log('key',key)
            
            console.log(getInfo(key,cust))
            

        };

        async function getInfo(key='',cust=''){
            const url = 'https://api.stripe.com/v1/billing_portal/sessions';
            const body = {customer:cust}
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type':'application/x-www-form-urlencoded',
                    'Authorization':`Bearer ${key}`
                },
                body: body
            });
            return response.json();
        }
    </script>
</body>
</html>
